
body{
    margin: 0;
}
.Top_bar{
    background-color: #2F2F2F;
    overflow: hidden;
}

.Top_bar_text{
    padding-top: 2vmin;
    font-size: 8vmin;
    padding-left: 8vmin;
}

.logo{
    height: 20vmin;
    width: 20vmin;
}

.Top_bar_elms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home_page{
    min-height: 100vh
}

.form_text{
    margin-top: 6vmin;
    margin-bottom: 1rem;
    height: 5rem;
    width: 20rem;
    background-color: #9D9D9D;
    columns: #FFFFFF;
    font-family: monofonto;
    font-size: 2rem;
    text-align: center;
    border: 0;
    
}

.sign_up_button{
    margin-top: 6vmin;
    background-color: #3DAE56;
    height: 5rem;
    width: 20rem;
    border-radius: 1em;
    color: white;
    font-family: monofonto;
    font-size: 1.5rem;
    border: 0;
    
}

.login_button{
    margin-top: 6vmin;
    background-color: #AE8A3D;
    height: 5rem;
    width: 20rem;
    border-radius: 1em;
    color: white;
    font-family: monofonto;
    font-size: 1.5rem;
    border: 0;
}

.container_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Login_Buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}