.Search_Div{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.notebook_search_bar{
    height: 2rem;
    width: 70%;
    background-color: #9D9D9D;
    columns: #FFFFFF;
    font-family: monofonto;
    font-size: 1rem;
    text-align: left;
    border: 0;
    
}

.notebook_search_button{
    
    height: 2.125rem;
    width: 30%;
    font-family: monofonto;
    background-color: #4882ff;
    font-size: .85rem;
    text-align: center;
    border: 0;
}

.notebook_results{
    list-style: disc;
    position: absolute;
    margin-top:2.125rem;
    padding-right: 1rem;
    background-color: white;
    font-family: monofonto;
    color: black;
    
}
.notebook_no_results{
    position: absolute;
    margin-top:2.125rem;
    padding-right: 1rem;
    background-color: white;
    font-family: monofonto;
    color: black;
    
}

.search-notebook-content {
    display: inline-block;
    max-width: 30rem; 
    vertical-align: middle;
    margin-bottom: 0.5rem;
    }
    
.search-notebook-title {
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    }
    
.search-notebook-description {
    font-size: 1rem;
    color: grey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    }