/* Override all padding in #root from App.css */
#root{
    margin: 0;
    padding: 0;
    max-width: none;
}

/* Remove all automatic padding */
body{
    margin: 0;
    padding: 0;
}

.nbpLogo{
    /* Force the image to be 3em/3em so it'll take up its space
     *  even when not loaded in. */
    height: 3em;
    width: 3em;
}

.nbpLogo:hover{
    filter:brightness(50%);
}

.nbpButtonHome{
    background-color: rgb(142, 142, 142);
    height: 3em;
    width: 10em;
    border-radius: 1em;
    color: white;
    font-family: monofonto;
}

.nbpButtonHome:hover{
    background-color: rgb(115, 115, 115);
}



.notebooksPageWrapper{
    display:        flex;
    flex-flow:      row wrap;
    font-weight:    bold;
    text-align:     center;
}

.notebooksPageWrapper > * {
    padding:    10px;
    flex:       1 100%;
}

.nbpHeader{
    display: flex;
    justify-content: space-between;
    padding:0;
    margin:0;
    background: rgb(56, 56, 56);
}

/* nbpHeader Flex Container*/
.nbpHeaderLeft{
    display: flex;              /* Flex container */
    flex-flow: row;             /* Flex container is only a single row */
    align-items: center;        /* Items in Flex row are aligned vertically in the middle */
    justify-content: flex-start;/* Items in Flex row are left-justified*/

    padding: 0px;
    margin:  0px;
    
}

.nbpHeaderRight{
    display: flex;              /* Flex container */
    flex-flow: row;             /* Flex container is only a single row */
    align-items: center;        /* Items in Flex row are aligned vertically in the middle */
    justify-content: flex-end;/* Items in Flex row are left-justified*/

    padding: 0px;
    margin:  0px;
    
}


/* Items within the nbpHeader */
.nbpHeaderLeft > * {
    flex: 0 1 auto;             /* Items do not grow, shrink, basis is automatic */
}
.nbpHeaderRight > * {
    flex: 0 1 auto;             /* Items do not grow, shrink, basis is automatic */
}

/* nbpToolbar Flex Container*/
.nbpToolbar{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

/* Items within nbpToolbar */
.nbpToolbar > * {
    flex: 0 1 auto;
}

.nbpMain{
    font-family: monofonto;
    text-align: left;
    background: rgb(38, 38, 38);
}

.nbpSidebarNotebooks{
    background: rgb(68, 68, 68);
}

.nbpSidebarPages{
    background: rgb(68, 68, 68);
}

.nbpFooter{
    background: rgb(200, 0, 255);
}

/* Mobile Layout is Default */

/* Narrow Layout */
@media all and (min-width: 600px){
    /* Make the asides share the same row */
    .aside { flex: 1 0 0; }

}

/* Desktop Layout */
@media all and (min-width: 800px){

    .nbpMain                    { flex: 3 0px;}
    .nbpSidebarNotebooks        { order: 1; }
    .nbpMain                    { order: 2; }
    .nbpSidebarPages            { order: 3; }
    .nbpFooter                  { order: 4; }

}