.Search_Div{
    display: flex;
    flex-direction: row;
    width: 9.5rem;
}

.search_bar{
    height: 2rem;
    width: 6rem;
    background-color: #9D9D9D;
    columns: #FFFFFF;
    font-family: monofonto;
    font-size: 1rem;
    text-align: left;
    border: 0;
    
}

.search_button{
    
    height: 2.125rem;
    width: 3.25rem;
    font-family: monofonto;
    background-color: #4882ff;
    font-size: .85rem;
    text-align: center;
    border: 0;
}

.results{
    list-style: disc;
    position: absolute;
    margin-top:2.125rem;
    padding-right: 1rem;
    background-color: white;
    font-family: monofonto;
    color: black;
    
}