.Search_Div{
    display: flex;
    flex-direction: row;
}

.search_bar{
    height: 2rem;
    width: 6rem;
    background-color: #9D9D9D;
    columns: #FFFFFF;
    font-family: monofonto;
    font-size: 1rem;
    text-align: left;
    border: 0;
    
}

.search_button{
    
    height: 2.125rem;
    width: 3.25rem;
    font-family: monofonto;
    font-size: .85rem;
    text-align: center;
    border: 0;
}