.profile_image{
    width: 5rem;
    height: 5rem;
    border-radius: 10rem;
    

}

.profile_div_color{
    background-color: #D9D9D9;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-left: 2rem ;
    color: black;
}

.profile_div{
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
    padding-top: 2rem;
    font-family: monofonto;
    font-size: 1rem;
    padding-bottom: 1rem;
    
}

.mainBody{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 3rem;
    flex-direction: row;
    padding-left: 2rem;
}

ul{
    list-style-type: none;
}

.notebooks_list{
    background-color: #848484;
    align-content: center;
    padding-right: 2rem;
}
.color-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
  }
.notebook_buttons {
display: flex;
align-items: center;
justify-content: flex-start;
background-color: #848484;
width: 30vmax;
padding: 1rem;
font-size: 1.5rem;
font-family: monofonto;
border: 1px solid white;
text-align: left;
min-height: 5rem;
}

/* Flexbox containing colorbox, edit button and view-only button  */
.notebookmode-menu{
    display:flex;
    flex-flow: column;
    align-items: center;
}


/* Flexbox containing buttons*/
.notebook_popup_buttonrow{
    display:flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}

.notebook_popup_buttons{
    display:flex;
    flex-flow: column;
    background: transparent;
}

.notebook_popup_btnimg{
    width: 2rem;
    height: 2rem;
    /*border-radius: 10rem;*/
}

.notebook-color-box-pointer {
width: 1.5rem;
height: 1.5rem;
margin-right: 1rem;
margin-bottom: 1rem;
display: inline-block;
border-radius: 0.3rem;
flex-shrink: 0;
cursor: pointer;
border: 1px solid gray;
}
.notebook-color-box {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    display: inline-block;
    border-radius: 0.3rem;
    flex-shrink: 0;
}

.notebook-content {
display: inline-block;
max-width: calc(100% - 2rem); 
vertical-align: middle;
}

.notebook-title {
font-weight: bold;
font-size: 1.5rem;
color: white;
margin-bottom: 0.5rem;
overflow: hidden;
text-overflow: ellipsis;
max-width: 100%;
}

.notebook-description {
font-size: 1rem;
color: #ccc;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: 100%;
}

.label{
    text-align: center;
    font-size: 3rem;
    font-family: monofonto;
}

.control_buttons{
    background-color: #D9D9D9;
    padding-right: 2.5rem;
    display: flex;
    flex-wrap: wrap;
}

.control_button_single{
    width: 30vmax;
    height: 5vmax;
    color: white;
    font-family: monofonto;
    font-size: 1em;
    border: 0;
}

.spacing{
    padding-bottom: 2rem;
}

.logout_button{
    background-color: #AE3D3F;
    
}

.options{
    color: black;
    padding-bottom: 1rem;
}

.green{
    background-color: #157C00;
}

.modal-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    max-width: 500px;
    margin: auto;
  }
.checkbox-field {
margin-top: 10px;
}
.color-options label {
display: inline-block;
margin-right: 10px;
}
.modal-actions {
display: flex;
justify-content: flex-end;
margin-top: 20px;
}
.modal-close-button,
.modal-submit-button {
margin-left: 10px;
}
