.toolbar_main{
    background-color: black;
}

.times_new{
    font-family: 'Times New Roman';
}

.Arial{
    font-family: Arial;
}

.Helvetica{
    font-family: Helvetica;
}

.Calibri{
    font-family: Calibri;
}

.Verdana{
    font-family: Verdana;
}

.Georgia{
    font-family: Georgia;
}

.Courier{
    font-family: 'Courier New';
}

.Roboto{
    font-family: Roboto;
}

.Garamond{
    font-family: Garamond;
}

.Futura{
    font-family: Futura;
}